{% extends 'layout.html.twig' %}

{% block body %}

    <div class="row">

        <!-- gallery and tabs column -->

        <div class="col-md-8">

            <div class="zoom-gallery row">



                <div class="col-md-10">
                        <img src="{{ asset('uploads/formations/'~formation.image) }}"
                             class="img-fluid"
                             data-image="">
                </div>
            </div>


        </div>

        <!-- product name and add to cart -->

        <div class="col-md-4">
            <h1 class="product-heading" data-name="">{{ formation.description }}</h1>

            <!-- product attributes -->
            <ul class="list-unstyled text-muted">
                <li>Topics :
                    {% for topic in formation.topics %}
                    <span>{{ topic }}</span>
                    {% endfor %}
                </li>
            </ul>

            <div class="old-price">
                <span class="currency" data-currency="">Début</span> <span data-price="">{{ formation.startDate|date("m/d/Y") }}</span>
            </div>

            <div class="price h3">
                <span class="currency" data-currency="">Fin : </span> <span data-price="">{{ formation.endDate|date("m/d/Y") }}</span>
            </div>

            <hr>


            {% if app.user  %}
            <button type="button"
                    class="btn btn-outline-secondary btn-block  btn-icon"
                    {% if formation.isEvaluatedByUser(app.user) %}
                        disabled
                    {% endif %}
                    id="evalPath"
                    data-toggle="modal"
                    data-target="#evaluateModal"
                    data-path = {{ path('formation.evaluate', {'id': formation.id}) }}
            >
                <i class="la la-shopping-cart"></i> Evaluate
            </button>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="evaluateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Evaluer</h5>
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Veuillez donner une note entre 1 et 5 <input id="note" type="number" min="1" max="5" class="form-control">
                            Donnez votre avis sur la formation : <textarea id="description" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="saveChanges" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-group mt-3" role="group">

                <button type="button" class="btn  btn-link text-black-50 btn-sm" title="Wishlist">
                    <i class="la la-heart"></i> Wishlist
                </button>

                <button type="button" class="btn  btn-link text-black-50 btn-sm" title="Compare">
                    <i class="la la-exchange"></i> Compare
                </button>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="product-tabs clearfix" role="tabpanel">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#evaluation" role="tab" aria-controls="profile" aria-expanded="false">Evaluations</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab" aria-expanded="true" data-description="">
                    <p>
                        {{ formation.description }}
                    </p>
                </div>
                <div class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
                    {% for evaluation in formation.evaluations %}
                    <div class="alert alert-info">
                        {{ evaluation.date|date('Y:m:d') }} / {{ evaluation.user.student.name }} :
                        {{ evaluation.description }}
                    </div>
                    {% else %}
                    <p>
                        Cette formation n'a pas été évaluée.
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('evaluate') }}
{% endblock %}